body {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 40%, rgba(30,30,30,1) 100%); 
	font-family: roboto, monospace;
	color: white;
}

h1 {
	font-size: 1.8em;
}

a {
	color: white;
}

a:visited {
	color: #9c62c4;
}

.flex-container {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#title {
	text-align: center;
}

#img-div {
	flex-basis: 40%;
	text-align: center;
	flex-shrink: 1;
}

#image {
	max-width: 100%;
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	display: block;
	margin: 0 auto;
}

#img-caption {
	margin-top: 20px;
}

#info-div {
	display: flex;
	flex-basis: 40%;
	flex-direction: column;
	flex-shrink: 1;
}

#tribute-info {
	max-width: 400px;
	text-align: right;
	align-self: center;
	line-height: 1.5em;
	border-top: 1px solid white;
	padding-top: 20px;
	border-right: 1px solid white;
	padding-right: 25px;
}